{% extends 'index.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">ByteChat</h1>
    <p class="lead">Bringing everyone together to connect to a code-sharing platform</p>
</div>

<div class="container">
    <div class="d-flex flex-column"> <!--Flex-column-->
        <h3>Registered Users:</h3>
            {% for account in accounts %}
                <p>
                    {{account.username}} | {{account.date_joined}}
                </p>
            {% endfor %}
    </div>
</div>

{% endblock content %}
