{% extends 'index.html' %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;

}
</style>

<button onclick="myFunction()">Dark Mode</button>

<script>
function myFunction() {
   var element = document.body;
   element.classList.toggle("dark-mode");
}
</script>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4" style="font-family:verdana">ByteChat</h1>
    <p class="lead">Bringing everyone together to connect to a Tech-Tought sharing platform</p>
</div>

<div class="container">
    <div class="d-flex flex-column"> <!--Flex-column-->
        <h3>Registered Users:</h3>
            {% for account in accounts %}
                <p>
                    {{account.username}} | {{account.date_joined}}
                </p>
            {% endfor %}
    </div>
</div>

{% endblock content %}
